@import '../index.scss';

.footer {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 4px solid $color-accent;
  user-select: none;
  p {
    font-size: 15px;
    padding: 15px;
    font-weight: lighter;
    color: $color-darkest;
  }
  a {
    color: $color-dark;
    position: absolute;
    top: -70%;
  }
}
