@import "./index.scss";

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 4;

  @include mobile {
    min-width: 80vw;
    gap: 10px;
    margin-bottom: 20px;
  }

  input,
  textarea {
    font-size: 1rem;
    padding: 10px 20px;
    background-color: rgba($color-dark, $alpha: .2);
    border: 2px solid $color-dark;
    color: $color-darkest;
    border-radius: 5px;
    z-index: 4;

    @include mobile {
      font-size: 14px;
      padding: 5px;
    }
  }

  button {
    padding: 10px;
    font-size: 20px;
    border: none;
    background-color: $color-dark;
    color: $color-lightest;
    cursor: pointer;
    font-weight: 500;
    border-radius: 5px;
    z-index: 4;

    @include mobile {
      padding: 10px;
    }

    &:hover {
      opacity: 0.8;
    }
  }
}
