.hero {
  height: calc(100vh - 100px);
  background: linear-gradient(180deg, #0c0c1d, #111132);
  .wrapper {
    max-width: 1366px;
    height: 100%;
    margin:  auto;
    z-index: 2;

      .text-container {
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 40px;

        h2 {
          font-size: 30px;
          color: rebeccapurple;
          letter-spacing: 10px;
        }

        h1 {
          font-size: 88px;
          line-height: 1.2;
        }

        
        .buttons-container {
          display: flex;
          align-items: center;
          column-gap: 20px;
          z-index: 3;

          button {
            cursor: pointer;
            padding: 20px;
            border: 1px solid white;
            border-radius: 10px;
            background-color: transparent;
            margin-right: 20px;
            color: white;
            font-weight: 300;
            z-index: inherit;
            
          }
          img {
            width: 50px;
            
          }
        }

      }
  }

  .image-container {
    overflow: hidden;
    height: 100%;
    position: absolute;
    top: 0;
    right: 7%;
    transform: scaleX(-1);
    z-index: 2;
    img {
      mask-image: linear-gradient(
        transparent 1%,
        black 10% ,
      );
      height: 120%;
    }
    
  }

  .sliding-text-container {
    position: absolute;
    font-size: 50vh;
    bottom: -120px;
    white-space: nowrap;
    color: #ffffff09;
    width: 100%;
    font-weight: bold;
    z-index: 1;
  }
}