html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

$color-darkest: #1a1a1a;
$color-dark: #003366;
$color-lightest: #ffffff;
$color-light: #c0c0c0;
$color-accent: #ffd700;
$shadow: rgba(0,0,0, .5);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  background-color: $color-lightest;
  color: $color-darkest;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  height: 100vh;
  scroll-snap-align: center;
  overflow: hidden;
}

@mixin mobile {
  @media (max-width: 738px) {
    @content;
  }
}

.no-touch {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, and Opera */
  pointer-events: none;
  -webkit-user-drag: none; /* Safari */
  -khtml-user-drag: none; /* Konqueror */
  -moz-user-drag: none; /* Firefox */
  -o-user-drag: none; /* Opera */
}
