@import '../index.scss';

.navbar {
  height: 80px;
  // border-bottom: 4px solid $color-accent;

  .wrapper {
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: end;
    height: 100%;

    span {
      font-weight: bolder;
      font-size: 1.5rem;
      text-transform: capitalize;

      @include mobile {
        display: none;
      }
    }
  }


  .social {
    position: fixed;
    color: $color-accent;
    left : 25px;
    top: 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    z-index: 5;
    color: $color-lightest;

    @include mobile {
      right: 15%;
      left: initial;
      top: initial;
      flex-direction: initial;

    }

    @include mobile {
      gap: 15px;
      right: 8%;
    }
  }
}