@import './index.scss';

.navbar {
  height: 80px;
  // border-bottom: 5px solid $color-accent;
  // background-color: $color-accent;
  border-bottom: 4px solid $color-accent;

  .wrapper {
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    span {
      font-weight: bolder;
      font-size: 1.5rem;

      @include mobile {
        display: none;
      }
    }
  }


  .social {
    position: fixed;
    color: $color-accent;
    right: 15%;
    display: flex;
    gap: 50px;
    z-index: 5;
    color: $color-dark;

    @include mobile {
      gap: 15px;
      right: 8%;
    }
  }
}