@import './index.scss';

.slider-text {
  position: absolute;
  font-size: 50vh;
  white-space: nowrap;
  color: $color-dark;
  opacity: .05;
  height: 100%;
  width: 100%;
  font-weight: bold;
  rotate: degree;
  z-index: 0;
}
